<article class="main-content">
   <section class="breadcums-inner col-xs-12">
      <div class="container registration-content">
         <div class="dashborad-breadcums">
            <ul>
               <li><a href="http://dev.99webdesigns.net/Excell-plus/"> Home </a> &gt; New Password</li>
            </ul>
         </div>
      </div>
   </section>
   <section class="main-banner reg-form-banner">
      <div class="container registration-content">
         <div class="banner-title teg-banner-title">
            <img src="assets/reg-form.png">
            <h2> New Password</h2>
         </div>
      </div>
   </section>
   <section class="form-sec col-xs-12">
      <div class="container registration-content">
         <div class="form-reg-section col-xs-12">
            <ng4-loading-spinner> </ng4-loading-spinner>
            <div class="form-inner">
           
               <form  [formGroup]="userDetailsForm" novalidate (ngSubmit)="resetPassword(userDetailsForm.value)">
                  <div class="col-xs-12 text-left">
                   <p>Hi {{userName}} , Enter new Password :</p>
                  </div>
                  <div formGroupName="matching_passwords">
                     <div class="col-sm-6">
                        <label>Password</label>
                        <input type="Password" required formControlName="password" (change)="passworChange($event)" >
                        <span *ngIf="isPassword" class="error-msg">{{passworErrorMessage}}</span>
                     </div>
                     <div class="col-sm-6">
                        <label>Repeat Password</label>
                        <input type="Password" required formControlName="confirm_password" (change)="confirmPassworChange($event)">
                        <span *ngIf="isConfirmPassword" class="error-msg">{{confPassErrorMsg}}</span>
                     </div>
                  </div>
                  
                  <div class="col-xs-12 submit text-left">
                     <input type="submit" name="Submit" class="btn-active move" value="Submit" id="password" >                 
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
</article>