.table-section {
  border: solid 1px #bbb !important;
}
.table-header {    
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px;
  color: #333;
  font-weight: bold;
}

.table-information {    
  font-family: 'Poppins', sans-serif !important;
  font-size: 12px;
}

.btn-activity {
  font-size: 15px !important;
  min-width: 80px !important;
}
.overDue{
  font-weight: bold;
}