@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

/*********Main Section***********/
.welcome-message{
   font-family: 'Poppins', sans-serif !important;
   font-size: 15px;
}
.new-filter{
    display: none;
}
.main-banner img {
    width: 100%;
    height: auto;
}
.welcom-area h1 {
    text-transform: uppercase;
    margin: 50px 0;
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.welcom-area p.welcome-para {
    color: #909090;
    text-align: justify;
    line-height: 23px;
}
.welcom-area ul li{
    color: #909090;
    line-height: 23px;
}
.welcom-area h2 {
    margin: 50px 0;
    font-size: 25px;
    text-transform: uppercase;
}
.thre-btn-sec button {
    background: #2c2c2c;
    border: 0;
    width: 30%;
    margin: 0 10px;
    padding: 18px 20px !important;
    text-align: left;
    height: 100px;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s ease;
    float: left;
    border-radius: 5px;
    transform: translate(0);
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    -moz-transform: translate(0);
}
.thre-btn-sec button span {
    background: #404040;
    height: 67px;
    width: 67px;
    border-radius: 100px;
    max-width: 100%;
    padding: 5px;
    position: relative;
    display: inline-block;
    margin-right: 50px;
}
.thre-btn-sec button span img {
    padding: 10px;
    width: auto;
}
.thre-btn-sec button img.hover {
    display: none;
}
.thre-btn-sec button:hover {
    background: #00ceff;
    box-shadow: 0 2px 20px #00ceff;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
}
.move{
    transform: translate(0);
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    -moz-transform: translate(0);
}
.move:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -moz-transform: translateY(-5px);

}
.login.col-sm-3 a {
    padding-left: 0;
    padding-right: 0;
    color: #00ceff;
}
.thre-btn-sec button:hover span{
    background: #fff;
}

.thre-btn-sec button:hover span img{
	display: none;
}

.thre-btn-sec button:hover span img.hover{
	display: inline-block;
}

section.welcom-area {
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px;
}

/***Footer*****/

.inner-butn-sec {
    display: inline-block;
    width: 100%;
    margin-left: 30px;
}
.logged {
    margin-top: -16px;
}
.logged .info-inner h4 {
    margin: 0px 0 0;
    position: relative;
    padding-top: 6px;
}
.sec-tab-con ul li:last-child {
    border-bottom: 0;
}
span.show-by-links {
    font-size: 12px;
    padding-left: 10px;
}
span.show-by-links a{
    text-decoration: underline;
}
.ans_ ul {
    margin: 0;
}
.filters {
    display: inline-block;
    width: 100%;
}
.student-dash-tabs ul.nav-tabs.upper-ul li a {
    border-radius: 5px;
}

.p-tools-sec h3 button {
    float: right;
     border: solid 2px #00ceff;
    background: transparent;
    background: #f1f1f1;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 100px;
    position: relative;
    width: 80px;
    text-align: center;
}
span.botton-on {
    position: absolute;
    left: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    top: 0;
    border-radius: 100px;
    padding-top: 8px;
    background: #00ceff;
    color: white;
}
span.botton-off {
    float: right;
}


/***********RESPONSIVE***************/
@media (max-width: 1199px){
    .dashborad nav#nav_ ul li a,
    .dashborad .login h4 {
    font-size: 13px;
    padding: 10px 10px;
    }
    .info-inner span {
    font-size: 12px;
    }
    .student-dash-tabs ul.nav-tabs.upper-ul li {
    width: 31.8%;
    }
    .parents-dash-tabs ul.nav-tabs.upper-ul li {
    width: 18.5%;
    }
    .parent-my-account-sec ul.nav-tabs.upper-ul li {
    width: 23% ;
    width: 90%;
    margin-left: 0;
    }
    .parent-my-account-sec ul.nav-tabs.upper-ul li a span {
    padding-left: 35px;
    }
    .student-dash-tabs ul.nav-tabs.upper-ul li a img {
    left: 15px;
    }
    table.price-data.table {
    width: 90%;
    }
    table.activity {
    font-size: 12px;
    }
    button.rev {
    font-size: 12px;
    width: 100% !important;
    }
    select.action {
    width: 30%;
    }
    .student_select_buttons {
    margin-left: 10px;
    font-size: 13px;
    }
    .col-sm-4.results-div {
    overflow: auto;
    }
    .fixed_side {
    position: sticky;
    top: 0;
    left: 0;
    background: transparent;
    border-left: solid 2px #bbb;
    border-right: 0;
    z-index: 9;
    }
    table.activity th.fixed_side{
        background:#f5f5f5;
    }
    table.activity td.fixed_side{
        background:#fff;
    }



}
@media (max-width: 991px){
    .parents-dash-tabs ul.nav-tabs.upper-ul li {
    width: 18%;
    font-size: 11px;
    }
	nav#nav_ ul li a, .login.col-sm-3 a {
	    font-size: 13px;
	    padding: 10px 10px;
	}
	.inner-butn-sec {
    margin-left: 0;
	}
	.thre-btn-sec button span {
    margin-right: 15px;
	}
	ul.social-footer li {
    margin-right: 10px;
	}
    .dashborad nav#nav_ ul li a, .dashborad .login h4 {
    font-size: 13px;
    padding: 10px 4px;
    }
    .left-tabs-nav li a {
    font-size: 12px;
    }
    .activity-inner {
    width: 100%;
    background: white;
    overflow-x: auto;
    position: relative;
    /*height: 500px;*/
    padding: 0;
    }

    table.activity {
    width: 700px !important;
    overflow-x: scroll !important;
    height: 400px;
    position: absolute;
    }
    table.student-activity-table{
        width: 100% !important;
    }
    .filter-content {
    background: white;
    position: relative;
    z-index: 9;
    }
    .student-dash-tabs ul.nav-tabs.upper-ul li a img {
    left: 20px;
    width: 30px;
    margin-top: 7px;
    }
    .parent-my-account-sec ul.nav.nav-tabs.upper-ul li {
    width: 23%;
    width: 90%;
    }
    table.price-data.table td button {
    width: 108px;
    }
    .dashborad .login h4 {
    font-size: 11px;
    margin-bottom: -12px;
    font-weight: bold;
    }
    .dashborad .info-inner span {
    font-size: 10px;
    }
    .student_select_buttons {
    display: inline-flex;
    padding: 20px 10px 10px;
    width: 100%;
    margin-left: 0px;
    }
    select.action {
    width: auto;
    }
    .selected-results button.btn-active.move {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    margin: 30px 0 20px;
    }
    .number-nav ul li.numbs {
    width: 38px;
    }
    table.question-table {
    width: 100% !important;
    overflow-x: scroll !important;
    height: 100%;
    position: relative;
    }


}
@media (max-width: 767px){
	.logo {
    text-align: left;
	}
	.col-sm-3.social-col-foot {
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	    margin: 10px 0;
	}
    .dashborad .login.logged.col-sm-4 {
    display: none;
    }
    .dashborad .col-sm-8.nav-div {
/*    padding-top: 60px;*/
    }
    .dashborad nav#nav_ {
    padding: 0 !important;
    }
    .dashborad .inner-menu {
    top: 0px;
    }
    .login-logged-mobile {
    display: inline-block !important;
    float: right;
    color: black;
    padding-bottom: 0px;
    }
    .user-info-section img {
    float: none;
    }
    .info-inner span {
    font-size: 10px;
    }
    .info-inner h4 {
    font-size: 12px;
    margin-bottom: 0;
    }
	p.footer-para {
    text-align: center;
    margin-bottom: 20px;
	}
	ul.social-footer li {
    margin-right: 30px;
	}
	span#mob-menu {
    display: block !important;
    position: absolute;
    right: 0;
    font-size: 22px;
    top: 28px;
    top: -50px;
    width: 50px;
    text-align: center;
	}
	nav#nav_ ul li {
    width: 100%;
    text-align: center;
    margin: 0;
    border-bottom: solid 1px #ccc;
    padding: 10px 0;
    transition: all .3s ease;
	}
    nav#nav_ ul li:hover {
        background: #00ceff;
    }
    nav#nav_ ul li:hover a{
        color:#333;
    }

	.inner-menu {
    display: none;
    width: 100%;
    background: #2c2c2c;
    margin-top: 0px;
    padding: 15px;
    position: relative;
    top: 35px;
    margin-bottom: 10px;
	}
	.login.col-sm-3 {
    text-align: center;
        padding-top: 10px;
	}
	.nav-div {
    padding-top: 20px;
    padding-bottom: 20px;
	}
	nav#nav_ ul li a, .login.col-sm-3 a {
    font-size: 14px;
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    color: #ccc;
	}
	.thre-btn-sec button {
    width: 100%;
    margin: 10px 0px;
	}
	.thre-btn-sec button span {
    margin-right: 22%;
	}
	ul.footer-menu {
    padding-left: 10px;
	}
    .student-dash-tabs ul.nav-tabs.upper-ul li {
    width: auto;
    }
    .pre-nex-btns button {
    margin: 5px 2px;
    }
    .pre-nex-btns .text-right {
    text-align: center !important;
    }
    .parents-dash-tabs ul.nav-tabs.upper-ul li {
    width: 45%;
    font-size: 10px !important;
    margin-bottom: 5px;
    }
    .parents-dash-tabs ul.nav-tabs.upper-ul li a {
    padding: 12px 8px !important;
    font-size: 11px;
    }
    .prents-filter button.normal-btn {
    margin: 0 2px 5px;
    }
    .parent-my-account-sec ul.nav-tabs.upper-ul li a {
    min-height: 65px;
    }
    .parent-my-account-sec ul.nav.nav-tabs.upper-ul li {
    width: 45%;
    }
    .breadcums-inner {
    font-size: 14px;
    }
    .inner-tab {
    width: 100%;
    }
    table.price-data.table {
    width: 100%;
    font-size: 12px;
    }
    .price-data-tab.col-xs-12 {
    padding: 0;
    }
    table.price-data.table td button {
    width: 90%;
    margin-right: 0px;
    font-size: 12px;
    }
    .parents.dashboard .logged {
    padding: 0;
    display: none;
    }
    .sec-tab-con {
    width: 100%;
    margin-left: 0px;
    min-height: 0px;
    padding-bottom: 10px;
    }
    .activity-filters input,
    .activity-filters select {
    margin: 5px auto;
    width: 45%;
    width: 100%;
    }
    .filter_inner.row {
    margin: 0;
    }
    .selected-results button.btn-active {
    min-width: 0;
    width: 100%;
    margin-left: 0;
    font-size: 16px;
    padding: 18px 0 !important;
    }
    #students .activity-filters input,
    #students .activity-filters select {
    margin: 10px 0 0;
    width: 100%;
    }
    .student_select_buttons {
    display: inline-block;
    padding: 20px 0px 10px;
    }
    .activity-filters.col-xs-12 {
    padding: 0;
    }
    /*******MENU SCROLLER***********/
    .tabs-scroller {
        display: inline-block;
        width: 100%;
        overflow: auto;
        padding-top: 28px;
        margin-top: -22px;
        height: auto;
        padding-top: 25px;
        margin-top: -43px;
    }
    ul.upper-ul.scroller {
    overflow: scroll;
    min-width: 725px;
    position: relative;
    padding: 0px;
        height: auto;
    margin-top: -50px;
    background: transparent;
    padding-top: 34px !important;
    }
    .parent-my-account-sec.new-tabs-style ul.nav.nav-tabs.upper-ul.scroller.scroller-for-myaccount{
        min-width: 0;
        max-width: 100%;
        width: 100%;
    }
   .parents .student-dash-tabs ul.upper-ul.scroller li{
    width: 18%;
    width: 120px;
    margin:0 2px 10px;
    }
    i.fa.fa-arrow-left,
    i.fa.fa-arrow-right {
    display: inline !important;
    position: relative;
    position: absolute;
    left: -14px;
    bottom: 0px;
    font-size: 20px;
    color: #00ceff;
    float: left;
    left: -8px;
    top: 20px;
    top: 43px !important;
    z-index: 9;
    }

    i.fa.fa-arrow-right{
    right: 5px;
    right: -160px;
    right: auto;
    left: 33%;
    }
    .arrows_ {
    position: relative;
    }
    i.fa.another-arrow {
    left: -138px;
    top: 12px;
    left: auto;
    top: 12px;
    right: 198px;
    }
    .prents-filter {
    margin-bottom: 33px;
    }
    /************/
    .tabs-scroller.tabs-scroller-accounts {
    margin: 0;
    }
    .upper-ul.scroller.scroller-for-myaccount {
    padding: 0;
    }
    .tabs-scroller-accounts ul.upper-ul.scroller-for-myaccount li {
    width: 160px;
    }

    /***********/
    .student-dash-tabs ul.nav-tabs.upper-ul li a img {
	/*display: none;*/
    position: relative;
    left: 0;
    width: 30px;
    width: auto;
    margin-top: 0px;
    margin-bottom: 5px;
	}
	.parent-my-account-sec ul.nav-tabs.upper-ul li a span {
    padding: 0;
    display: none;
	}
	.parent-my-account-sec ul.nav-tabs.upper-ul li a {
    min-height: 0;
	}
	section.dash-inner-con.col-xs-12 {
    padding: 0;
	}
    .parent-my-account-sec.new-tabs-style ul.nav-tabs.upper-ul li {
    width: 65px!important;
    margin: 0 2px 10px;
    float: none;
    display: list-item;
    }

	.parents .parent-my-account-sec ul.upper-ul.scroller.scroller-for-myaccount li{
/*		width:auto;
		margin: 0 1px 10px;
*/	}
	ul.nav.nav-tabs.upper-ul.scroller.scroller-for-myaccount {
    min-width: 550px;
        min-width: 580px;
	}
	.student-dash-tabs.newstudent-on-mobile ul.upper-ul li {
    width: 30.5%;
	}
/*    .scroller-for-myaccount i.fa.fa-arrow-right {
        right: -24px;
        right: -150px;
    }
*/
    .scroller-for-myaccount i.fa.another-arrow {
    left: auto;
    right: 11%;
    }
    .selected-results .col-md-6 {
    padding: 0;
    }
    .p-tools-sec h3 button {
        margin: 10px 0px;
    }
    #dashborad .inner-tabs-div {
    margin-top: 20px;
    }
    h4.none-for-mob {
    display: none;
    }
    span.second-filt {
    display: inline-block !important;
    float: right;
    }
    .filter-opener h4 {
    text-align: left;
    }
    .col-sm-6.filter-opener.text-right h4 {
    text-align: right;
    }
    .main-ques-sec {
    padding: 0;
    }
    .login-logged-mobile {
    margin-right: 35px;
    }
    .header {
    padding: 15px 15px 0;
    }
    form.edit-pro .wrapper {
    margin-bottom: 0px;
    }
    form.edit-pro input, form.edit-pro select {
    margin-bottom: 10px;
    }
    .col-sm-12.filter-opener.text-right,
    .col-sm-6.show-by.text-left ,
    .inner.col-xs-12{
    padding: 0;
    }


}
@media (max-width: 480px){
	.parents .student-dash-tabs ul.upper-ul.scroller li {
    width: 140px;
 	}
    .selected-results p {
    font-size: 12px;
    }
 	ul.upper-ul.scroller {
    min-width: 825px;
    min-width: 765px;
	}
    .logo a, .login-logged-mobile 	{
    }
    .info-inner h4 {
    font-size: 10px;
    }
    .breadcums-inner {
    font-size: 11px;
    }
    .nav-div {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    }
    .dashborad span#mob-menu {
    top: -90px;
    }
    .inner-menu {
    margin-top: 0px;
    position: absolute;
    top: 0px;
    }
    .breadcums ul li {
    list-style: none;
    font-size: 12px;
    }
    .banner-title.teg-banner-title {
    margin-top: 55px;
    }
    .form-reg-section {
        margin: -115px auto 20px;
    }
    .note.row {
        padding: 20px 20px 30px;
        line-height: normal;
        font-size: 13px;
    }
    .left-tabs-nav li {
        margin-bottom: 15px;
    }
    .inner-testing-area h5 {
        margin: 30px 0;
        display: inline-block;
        width: 100%;
    }
    .your-ans, .correct-ans {
    width: 100%;
    width: 88%;
    }
    .number-nav ul li.numbs {
    width: 12.5%;
    }
    .number-nav ul{
        margin-bottom: 20px;
    }
    .key-facts.col-xs-12.row {
    padding: 0;
    margin: 0;
    }
    .row{
        margin:0!important;
    }
    .wrapper.col-xs-12.row{
        padding: 0;
    }
    .inner-tab .wrapper{
        text-align: center;
    }
    .col-sm-6.text-right {
    text-align: center;
    margin-top: 10px;
    }
    .btn-active,
    .remove-data.inner input.red{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        font-size: 15px;
        padding: 12px 10px;
    }
    .col-xs-12.submit.text-center {
    padding: 0;
    }
    .remove-data.inner {
    padding: 0;
    }
    .header {
    padding: 15px 0px 0;
    }
    .parent-my-account-sec.new-tabs-style ul.upper-ul.scroller.scroller-for-myaccount{
        width: 25%;
    }
    .parent-my-account-sec.new-tabs-style ul.nav-tabs.upper-ul li {
    width: 70px!important;
    }
    .inner-tabs-div h4 {
    margin-bottom: 25px;
    }
    .inner-tab .wrapper {
    padding: 10px 0px;
    }
    .p-tools-sec, .subscriptions {
    margin-top: -16px;
    }
    .p-tools-sec, .subscriptions {
    padding: 0px 15px 20px;
    margin-top: -12px;
    }
    .inner-tab {
    margin: 0px auto;
    }
}
@media (max-width: 479px){
    .form-reg-section {
    padding: 0px 20px 40px!important;
    }
    #register-now {
    width: 100%!important;
    min-width: 0 !important;
    }
    section.form-sec.col-xs-12 {
    padding: 0!important;
    }
    .form-inner .col-sm-6 {
    padding: 0!important;
    }
    .note.row{
        padding: 30px 20px;
    }
    .reg-form-banner {
    font-size: 16px;
    background-position: center center;
    }
   .dash-inner-con.col-xs-12 {
    padding: 0;
    }
    .student-dash-tabs ul.nav-tabs.upper-ul li a {
    padding: 12px 10px !important;
    font-size: 12px;
    }
    .student-dash-tabs ul.nav-tabs.upper-ul li {
/*    width: auto;
    margin-left: 0;
    margin-right: 1px;
*/    width: 46%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    }
    .sec-tab-con ul li {
    padding: 18px 15px;
    min-height: 90px;
    }
    .student-dash-tabs ul.nav-tabs.upper-ul li a img {
    position: relative;
    left: 0;
    }
    .parent-my-account-sec ul.nav-tabs.upper-ul li a span {
    padding-left: 0px;
    }
    .key-facts span.color-active {
    display: inline-block;
    width: 100%;
    }
    .key-facts li {
    font-size: 12px;
    }
    h5 {
    font-size: 15px!important;
    }
    .logo a, .login-logged-mobile {
/*    margin: 10px 10px 0;
    width: 35%;
*/    }
    .info-inner span {
    font-size: 0;
    }
    span.show-by-links {
    font-size: 10px;
    padding-left: 0px;
    }
    .parent-testting-area.col-xs-12 {
    padding: 0;
    }
    .inner_testting h4 {
    margin-left: 0px;
    }
    .parents .parent-my-account-sec ul.upper-ul.scroller.scroller-for-myaccount li{
/*	width:auto!important;
	margin: 0 1px 10px!important;
    width: 120px;
*/    width: 22%!important;
    margin: 0 2px 10px!important;
	}
	.student-dash-tabs.newstudent-on-mobile ul.upper-ul li {
    width: 29%;
	}
	.student-dash-tabs.newstudent-on-mobile ul.upper-ul li a{
    padding: 12px 6px !important;
    font-size: 10px;
	}
    .key-facts li img {
    margin-right: 5px;
    width: 20px;
    }
    .key-facts li {
    list-style: none;
    padding: 20px 0 12px;
    }
    table.price-data.table td {
    padding: 18px 2px;
    font-size: 11px;
    }
    .p-tools-sec h3 {
    font-size: 17px;
    }
    .parents .parent-my-account-sec.new-tabs-style ul.nav-tabs.upper-ul li {
    width: 70px!important;
    }
    .edit-pro-inner{
    padding: 0;
    }
}
