a{
	color: #0080ff;
}
a:hover{
 cursor: pointer;
 color: #00ceff;
}
.color-active{
  color: #0080ff;
  text-decoration-line: underline;
}
.emp-row {
  display: none!important;
}
.tab-for-status {
  width: 100% !important;
  margin: 0 0 20px!important;
}

.tab-for-status h3.status {
  background: #2c2c2c !important;
  color: white!important;
  padding: 15px 0 !important;
  border-radius: 5px 5px 0px 0px !important;
}
.tab-for-status .wrapper {
  padding: 15px 20px!important;
  margin: 0px 0px 0px!important;
  border-bottom: solid 1px #bfbfbf!important;
}
.tab-for-status .wrapper:last-child {
  border-bottom: solid 0px #bfbfbf!important;
}
.p-tools-sec h3{
  margin: 20px 0;
}
.scroller-for-myaccount{
  margin-left: 15px !important;
}
.scroller-for-myaccount li{
  width: 70% !important;
}
.tab-content-inner .list-section{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width: 1200px){
  .scroller-for-myaccount{
    width: 100%;
    margin-left: 0px !important;
  }
  .scroller-for-myaccount li a{
    display: flex;
  }
  .scroller-for-myaccount li a div{
    flex: 1;
    margin-left: 15px;
    position: relative;
  }
  .scroller-for-myaccount li a div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    text-align: left;
  }

  .scroller-for-myaccount li a img{
    left: 15px;
    position: relative;
  }
}

@media(max-width: 1199px) and (min-width: 992px){
  .scroller-for-myaccount{
    width: 100%;
    margin-left: 0px !important;
  }
  .scroller-for-myaccount li a{
    display: flex;
  }
  .scroller-for-myaccount li a div{
    flex: 1;
    margin-left: 4px;
    position: relative;
  }
  .scroller-for-myaccount li a div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    text-align: left;
    font-size: 14px;
  }
  .scroller-for-myaccount li a img{
    left: -4px;
    position: relative;
  }
}
@media(max-width: 991px) and (min-width: 768px){
  .scroller-for-myaccount{
    width: 100%;
    margin-left: 0px !important;
  }
  .scroller-for-myaccount li{
    height: 60px;
  }
  .scroller-for-myaccount li a{
    display: flex;
    min-height: 60px !important;
  }
  .scroller-for-myaccount li a div{
    flex: 1;
    margin-left: 4px;
    position: relative;
  }
  .scroller-for-myaccount li a div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    text-align: left;
    font-size: 11px;
  }
  .scroller-for-myaccount li a img{
    left: 0px;
    position: relative;
    width: 30px;
    height: 30px;
  }
}

@media(max-width: 767px) and (min-width: 576px){
  .tabs-scroller-accounts{
    width: 15% !important;
  }
  .tab-content-inner{
    width: 85% !important;
  }
  .scroller-for-myaccount{
    width: 100%;
    margin-left: 0px !important;
  }
  .scroller-for-myaccount li{
    height: 65px !important;
    width: 65px !important;
  }
  .scroller-for-myaccount li a{
    display: flex;
    min-height: 65px !important;
    padding: 0px 0px !important;
  }
  .scroller-for-myaccount li a div{
    flex: 1;
    margin-left: 4px;
    position: relative;
  }
  .scroller-for-myaccount li a div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125px;
    text-align: left;
    font-size: 11px;
    display: none !important;
  }
  .scroller-for-myaccount li a img{
    position: relative;
    width: 45px;
    height: 45px;
    top: 10px;
    left: 10px;
  }
  ul.upper-ul.scroller{
    overflow: hidden !important;
    position: relative !important;
    background: transparent !important;
    top: -55px !important;
  }
}

@media(max-width: 575px) and (min-width: 415px){
  .scroller-for-myaccount{
    width: 100%;
    margin-left: 0px !important;
  }
  .scroller-for-myaccount li{
    height: 65px !important;
    width: 65px !important;
  }
  .scroller-for-myaccount li a{
    display: flex;
    min-height: 65px !important;
    padding: 0px 0px !important;
  }
  .scroller-for-myaccount li a div{
    flex: 1;
    margin-left: 4px;
    position: relative;
  }
  .scroller-for-myaccount li a div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125px;
    text-align: left;
    font-size: 11px;
    display: none !important;
  }
  .scroller-for-myaccount li a img{
    position: relative;
    width: 45px;
    height: 45px;
    top: 10px;
    left: 10px;
  }
  ul.upper-ul.scroller{
    overflow: hidden !important;
    position: relative !important;
    background: transparent !important;
    top: -55px !important;
  }
}
@media(max-width: 414px) and (min-width: 320px){
  .scroller-for-myaccount{
    width: 100%;
    margin-left: 0px !important;
  }
  .scroller-for-myaccount li{
    height: 65px !important;
    width: 65px !important;
  }
  .scroller-for-myaccount li a{
    display: flex;
    min-height: 65px !important;
    padding: 0px 0px !important;
  }
  .scroller-for-myaccount li a div{
    flex: 1;
    margin-left: 4px;
    position: relative;
  }
  .scroller-for-myaccount li a div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125px;
    text-align: left;
    font-size: 11px;
    display: none !important;
  }
  .scroller-for-myaccount li a img{
    position: relative;
    width: 45px;
    height: 45px;
    top: 10px;
    left: 10px;
  }
  ul.upper-ul.scroller{
    overflow: hidden !important;
    position: relative !important;
    background: transparent !important;
    top: -55px !important;
  }
  .list-section{
    margin-left: 18px;
  }
}






