.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  height: 300px;
  max-height: 500px;
}

.mat-header-cell {
  color: #204a87;
  font-weight: bold;
 
}

input[type=submit] {
	background-color: #204a87;
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
}

input[type=submit]:hover {
	background-color: #00b1c5;
	font-style: italic;
}

.learning {
	background-color: transparent;
	color:#0e0c3e;
	display: grid;
    grid-template-columns: 65% 35%;
    padding-top: 10px;
	padding-left: 100px;	
}