<footer class="footer">
    <div class="container section">
       <div class="inner-footer">
          <div class="col-sm-3">
             <!-- <p class="footer-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
             </p> -->
          </div> 
          <div class="col-sm-3 col-xs-6 ">
             <ul class="footer-menu">
                <li><a routerLink="/"> Home </a></li>
                <li><a routerLink="/about"> About us </a></li>
                <li><a routerLink="/"> Shop </a></li>
                <li><a routerLink="/contact"> Contact Us </a></li>
             </ul>
          </div>
          <div class="col-sm-3 col-xs-6">
             <ul class="footer-menu">
                <li><a routerLink="/student-help"> For Students </a></li>
                <li><a routerLink="/parent-help"> For Parents </a></li>
                <li><a routerLink="/tutor-help"> For Tutors or School </a></li>
             </ul>
          </div>
         <!--  <div class="col-sm-3 social-col-foot">
             <p>Follow Us</p>
             <ul class="social-footer">
                <li><a href="http://dev.99webdesigns.net/Excell-plus/#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://dev.99webdesigns.net/Excell-plus/#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://dev.99webdesigns.net/Excell-plus/#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://dev.99webdesigns.net/Excell-plus/#"><i class="fa fa-pinterest"></i></a></li>
             </ul>
          </div> -->
       </div>
    </div>
    <div class="bottom-footer text-center">
       <p>© ExcelIIplus All rights reserved.</p>
    </div>
 </footer>