<div id="testing" class="parent-contents">
   <div class="inner-tabs-div col-xs-12">
      <div class=" parent-testting-area col-xs-12">
         <div class="inner_testting">
            <h4>Maths Paper 1 <button class="selected">Selected</button></h4>
            <div class="testing-cont">
               <div class="col-lg-4 col-xs-12 results-div">
                  <table class="activity table question-table" align="center" width="100%">
                     <thead>
                        <tr>
                           <th>Q.no</th>
                           <th>Time</th>
                           <th>Right/Wrong</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>1</td>
                           <td>00:25</td>
                           <td><span class="wrong"><img src="../../../assets/wrong.png"></span></td>
                        </tr>
                        <tr>
                           <td>2</td>
                           <td>01:25</td>
                           <td><span class="right"><img src="../../../assets/right-ok.png"></span></td>
                        </tr>
                        <tr>
                           <td>3</td>
                           <td>02:33</td>
                           <td><span class="right"><img src="../../../assets/wrong.png"></span></td>
                        </tr>
                        <tr>
                           <td>4</td>
                           <td>00:30</td>
                           <td><span class="right"><img src="../../../assets/right-ok.png"></span></td>
                        </tr>
                        <tr>
                           <td>5</td>
                           <td>10:34</td>
                           <td><span class="right"><img src="../../../assets/wrong.png"></span></td>
                        </tr>
                        <tr>
                           <td>4</td>
                           <td>00:30</td>
                           <td><span class="right"><img src="../../../assets/right-ok.png"></span></td>
                        </tr>

                     </tbody>
                  </table>
               </div>
               <div class="col-lg-8 col-xs-12">
                  <div class="main-ques-sec">
                     <h3 class="status row">Question no. 5#</h3>
                     <h2> What is 3+2 ? </h2>
                     <div class="your-ans">
                        <p>Your Answer</p>
                        <span class="your-ans-output">6</span>
                     </div>
                     <div class="correct-ans">
                        <p>Correct Answer</p>
                        <span class="correct-ans-output">6</span>
                     </div>
                     <div class="explain row">
                        <h4><img src=".../../../assets/explain.png">Explanation</h4>
                        <p>
                           Because 3 + 2 is equal to 5. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                           eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>