.table-section {
    border: solid 1px #bbb !important;
}
.table-header {
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

.table-information {
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px !important;
}

.btn-activity {
    font-size: 15px !important;
    min-width: 80px !important;
}
.login-btn {
    display: inherit;
    padding-bottom: 10px !important;
    padding: 15px 44px 15px 0px !important;
    line-height: normal!important;
    height: 70px;
}
.group-select {
	margin-right:5px;
	color:#000000;
	border:1px solid black;
}
.inactive {
	 font-family: 'Poppins', sans-serif !important;
    font-size: 12px !important;
	font-style: italic;
    color: #c0c0c0;
}

.point{
	cursor:pointer;
  font-size: 15px;
}

.action-btn {
	width: 100px;
	color: white;
	background-color: #808080;
	margin:2px;
}
ul {
    display: -webkit-inline-box;
    font-size: 12px !important;
    width: 100%;
    max-width: 100%;
}
.stud-data-all mat-cell.table-information img.time{
    width: 20px;
    height: 20px
}
.sech-by-name{
  text-align: left;
}
.add-stud{
  margin-bottom: 0 !important;
}
@media(min-width: 1361px){
    .added-btns-row ul li{
      width: auto !important;
      margin-bottom: 10px !important;
      margin-right:10px !important;
    }
    .added-btns-row ul li a{
      font-size: 14px !important;
      padding: 10px 0 !important;
    }
    .exam-filter{
        margin-bottom: 50px;
    }
    .radio-for-studs{
        box-shadow: 0 1px 10px rgba(0,0,0,.2);
        padding: 35px 0;
        margin-left: 0;
    }
    mat-radio-group{
        float: right;
    }
    .radio-btn{
        min-height: 60px !important;
        transform: translateY(25%);
    }
    .add-btn button{
        border-radius: 13px;
        padding: 11px;
        font-size: 20px !important;
    }
    .add-btn{
        text-align: right;
    }
    .add-stud{
        margin-bottom: 20px;
    }
  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f5f5f5;
    border-bottom-color: rgba(0,0,0,.12);
    border: 1px solid #bbb !important;
    box-shadow: none !important;
  }
  div.mat-expansion-panel-body{
    padding: 0 0 !important;
  }
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
    min-height: 58px !important;
  }
  .mat-expansion-panel{
    border-left-color: #bbb;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #bbb;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #bbb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none !important;
  }

  $mat-header-row-height:56px;
  $mat-row-height: 48px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
  }

  .mat-row {
    min-height: $mat-row-height;
  }

  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    //padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
    padding: 10px 14px !important;

    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }

  .mat-header-cell {
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: flex;
  }
  .mat-cell {
    font-size: 15px !important;
  }
  .mat-expansion-panel .mat-row .mat-content {
    display: block !important;
  }
  .mat-header-cell.n{
    width: 12% !important;
  }
  .mat-header-cell.c1{
    width: 15% !important;
  }
  .mat-header-cell.u{
    display: block !important;
    width: 26% !important;
  }
  .mat-header-cell.c2{
    display: block !important;
    width: 15% !important;
  }
  .mat-header-cell.g{
    /*display: block !important;*/
    width: 25% !important;
  }
  .mat-header-cell.c3{
    width: 15% !important;
  }
  .mat-header-cell.a{
    width: 18% !important;
  }
  .mat-header-cell.c4{
    width: 19% !important;
    padding-left:53px;
  }
  .mat-header-cell.r{
    display: block !important;
    width: 14%;
  }
  .mat-header-cell.c5{
    display: block !important;
    width: 13% !important;
  }
  .mat-header-cell.p{
    width: 18%;
    display: block !important;
    padding-left: 38px;
  }
  .mat-header-cell.c6{
    display: block !important;
    width: 13% !important;
  }
  .mat-header-cell.s{
    /*width: 17%;*/
  }
  .mat-header-cell.c7{
    width: 8% !important;
  }
  .mat-cell.n{
    width: 12%;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .mat-cell.c1{
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 15px;
    width: 15% !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .mat-cell.u{
    width: 21%;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .mat-cell.c2{
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 15px;
    width: 15% !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .mat-cell.g{
    width:12% !important;
    margin-right: 30px;
  }
  .mat-cell.c3{
    display: block !important;
    width: 15% !important;
    transform: translateY(25%);
    font-weight: 100;
    font-family: 'Poppins', sans-serif !important;
  }
  .mat-cell.a{
    width: 16%;
    margin-right:59px;
    text-align: center;
  }
  .mat-cell.c4{
    width: 19% !important;
    text-align: left;
  }
  button.unarchive{
    height: 33px !important;
  }
  .mat-cell.r{
    width: 14%;
    margin-right: 35px;
    padding-right: 20px;
    text-align: center;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 15px;
  }
  .mat-cell.c5{
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 15px;
    width: 17% !important;
    padding-left: 9px;
    text-align: left;
  }
  .mat-cell.p{
    display: block !important;
    width: 18%;
    text-align: center;
    padding-right: 42px;
    transform: translateY(15%);
  }
  .mat-cell.c6{
    display: block !important;
    padding-right: 42px;
    transform: translateY(15%);
    width: 10% !important;
    text-align: left;
  }
  .mat-cell.p img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .mat-cell.c6 img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .mat-cell.s {
    text-align: center;
    margin-top: 8px;
    width: 10%;
  }
  .mat-cell.c7{
    width: 9% !important;
    text-align: center;
    margin-top: 8px;
    padding-right: 8px;
  }
  .mat-header-cell.c1,.mat-header-cell.c2,.mat-header-cell.c3, .mat-header-cell.c4, .mat-header-cell.c5, .mat-header-cell.c6, .mat-header-cell.c7{
    display: block !important;
  }
  .mat-cell.c1, .mat-cell.c2, .mat-cell.c3, .mat-cell.c4, .mat-cell.c5, .mat-cell.c6, .mat-cell.c7{
    display: block !important;
  }
  button.edit img, button.login img{
    margin-bottom: 8px;
  }
  .item-content{
    display: none;
  }
  .item-content .content-item{
    display: flex;
  }
  .item-content .content-item .elem{
    width: 45%;
    padding: 10px 10px 10px 10px;
    background: #f6f6f6;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    font-weight: 500;
  }
  .item-content .content-item .val{
    width: 55%;
    padding: 10px 10px 10px 25px;
    background: #00ceff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
  }
  .item-content .content-item .val.time{
    text-align: center;
    padding-right:25px;
  }
  .item-content .content-item .val img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .selected-rec-wide{
    display: block !important;
    font-size:16px;
    padding-left: 0 !important;
    transform: translateY(75%);
  }
  .selected-rec{
    display: none;
  }
  .resp-enter{
    display: none;
  }
}

@media(max-width: 1360px) and (min-width: 1200px){
    .added-btns-row ul li{
        height: 48px !important;
    }
    .added-btns-row ul li a{
        font-size: 14px !important;
    }
    .exam-filter{
        margin-bottom: 50px;
    }
    .radio-for-studs{
        box-shadow: 0 1px 10px rgba(0,0,0,.2);
        padding: 35px 0px;
        margin-left: 0px;
    }
    mat-radio-group{
        float: right;
    }
    .radio-btn{
        min-height: 60px !important;
        transform: translateY(25%);
    }
    .add-btn{
        text-align: right;
    }
    .add-btn button{
        border-radius: 13px;
        padding: 11px;
        font-size: 20px !important;
    }
    .add-btn span{
        font-size: 20px !important;
    }
    mat-header-cell .name {
        display: none;
    }
    mat-cell .name{
        display: none;
    }
    .add-stud{
        margin-bottom: 20px;
    }

  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f5f5f5;
    border-bottom-color: rgba(0,0,0,.12);
    border: 1px solid #bbb !important;
    box-shadow: none !important;
  }
  div.mat-expansion-panel-body{
    padding: 0 0 !important;
  }
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
    min-height: 58px !important;
  }
  .mat-expansion-panel{
    border-left-color: #bbb;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #bbb;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #bbb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none !important;
  }

  $mat-header-row-height:56px;
  $mat-row-height: 48px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
  }

  .mat-row {
    min-height: $mat-row-height;
  }

  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    //padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
    padding: 10px 14px !important;

    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }

  .mat-cell, .mat-header-cell {
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: flex;
  }
  .mat-expansion-panel .mat-row .mat-content {
    display: block !important;
  }
  .mat-header-cell.n{
    width: 13% !important;
  }
  .mat-header-cell.u{
    display: block !important;
    width: 25% !important;
  }

  .mat-header-cell.a{
    width: 26% !important;
  }
  .mat-header-cell.r{
    display: block !important;
    width: 16%;
  }
  .mat-header-cell.p{
    width: 19%;
    display: block !important;
  }
  .mat-header-cell.s{
    width: 17%;
  }
  .mat-cell.n{
    width: 11%;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 13px;
  }
  .mat-cell.u{
    width: 13%;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 15px;
  }
  .mat-cell.a{
    width: 27%;
    margin-right:37px;
  }
  .mat-cell.r{
    width: 14%;
    margin-right: 35px;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 15px;
  }
  .mat-cell.p{
    display: block !important;
    width: 15%;
    transform: translateY(15%);
  }
  .mat-cell.p img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .mat-cell.s {
    text-align: center;
    margin-top: 8px;
    width: 10%;
  }
  button.edit img, button.login img{
    margin-bottom: 8px;
  }
  .item-content{
    display: none;
  }
  .item-content .content-item{
    display: flex;
  }
  .item-content .content-item .elem{
    width: 45%;
    padding: 10px 10px 10px 10px;
    background: #f6f6f6;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    font-weight: 500;
  }
  .item-content .content-item .val{
    width: 55%;
    padding: 10px 10px 10px 25px;
    background: #00ceff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
  }
  .item-content .content-item .val.time{
    text-align: center;
    padding-right:25px;
  }
  .item-content .content-item .val img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .selected-rec-wide{
    display: block !important;
    margin-bottom: 10px;
    padding-left: 0 !important;
  }
  .selected-rec{
    display: none;
  }
}

@media(max-width: 1199px) and (min-width: 992px){
    .added-btns-row ul li{
      width: auto !important;
      margin-right: 10px !important;
      margin-bottom: 10px !important;
    }
    .added-btns-row ul li a{
      font-size: 14px;
      padding:12px 0 !important;
    }
    .exam-filter{
        margin-bottom: 50px;
    }
    .radio-for-studs{
        box-shadow: 0 1px 10px rgba(0,0,0,.2);
        padding: 35px 0;
        margin-left: 0;
    }
    mat-radio-group{
        float: right;
    }
    .radio-btn{
        min-height: 60px !important;
        transform: translateY(25%);
    }
    .add-btn{
        text-align: right;
    }
    .add-btn button{
        border-radius: 13px;
        padding: 11px;
        font-size: 20px !important;
    }
    .add-btn span{
        font-size: 20px !important;
    }
    mat-header-cell .name {
        display: none;
    }
    mat-cell .name{
        display: none;
    }

  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f5f5f5;
    border-bottom-color: rgba(0,0,0,.12);
    border: 1px solid #bbb !important;
    box-shadow: none !important;
  }
  div.mat-expansion-panel-body{
    padding: 0 0 !important;
  }
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
    min-height: 58px !important;
  }
  .mat-expansion-panel{
    border-left-color: #bbb;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #bbb;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #bbb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none !important;
  }

  $mat-header-row-height:56px;
  $mat-row-height: 48px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
  }

  .mat-row {
    min-height: $mat-row-height;
  }

  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    //padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
    padding: 10px 14px !important;

    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }

  .mat-cell, .mat-header-cell {
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    display: flex;
  }
  .mat-expansion-panel .mat-row .mat-content {
    display: block !important;
  }
  .mat-header-cell.n{
    width: 13% !important;
  }
  .mat-header-cell.u{
    display: block !important;
    width: 25% !important;
  }
  .mat-header-cell.a{
    width: 26% !important;
  }
  .mat-header-cell.r{
    display: block !important;
    width: 16%;
  }
  .mat-header-cell.p{
    width: 19%;
    display: block !important;
  }
  .mat-header-cell.s{
    width: 17%;
  }
  .mat-cell.n{
    width: 11%;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 14px;
  }
  .mat-cell.u{
    width: 13%;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 14px;
  }
  .mat-cell.a{
    width: 27%;
    margin-right:37px;
  }
  .mat-cell.r{
    width: 14%;
    margin-right: 35px;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 14px;
  }
  .mat-cell.p{
    display: block !important;
    width: 15%;
    transform: translateY(15%);
  }
  .mat-cell.p img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .mat-cell.s {
    text-align: center;
    margin-top: 8px;
    width: 10%;
  }
  button.edit img, button.login img{
    margin-bottom: 8px;
  }
  .item-content{
    display: none;
  }
  .item-content .content-item{
    display: flex;
  }
  .item-content .content-item .elem{
    width: 45%;
    padding: 10px 10px 10px 10px;
    background: #f6f6f6;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    font-weight: 500;
  }
  .item-content .content-item .val{
    width: 55%;
    padding: 10px 10px 10px 25px;
    background: #00ceff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
  }
  .item-content .content-item .val.time{
    text-align: center;
    padding-right:25px;
  }
  .item-content .content-item .val img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .selected-rec-wide{
    display: block !important;
    margin-bottom: 10px;
    padding-left: 0 !important;
    transform: translateY(75%) !important;
  }
  .selected-rec{
    display: none;
  }
}
@media(max-width: 991px) and (min-width: 768px){
    .activity-inner{
        height: 120px !important;
    }
    .added-btns-row ul li{
      width: auto !important;
      margin-right: 10px!important;
      margin-bottom: 10px !important;
    }
    .added-btns-row ul li a{
      font-size: 14px;
      padding:11px 0 !important;
    }
    .exam-filter{
        margin-bottom: 50px;
    }
    .radio-for-studs{
        box-shadow: 0 1px 10px rgba(0,0,0,.2);
        padding: 35px 0px;
        margin-left: 0px;
    }
    mat-radio-group{
        float: right;
    }
    .radio-btn{
        min-height: 60px !important;
        transform: translateY(25%);
    }
    .selected-buttons{
        text-align: center !important;
    }
    .add-btn{
        text-align: center !important;
    }
    .add-btn button{
        border-radius: 13px;
        padding: 11px;
        font-size: 20px !important;
    }
    .add-btn span{
        font-size: 20px !important;
    }
    mat-header-cell .name {
        display: none;
    }
    mat-cell .name{
        display: none;
    }
    .sech-by-name .mat-input-infix input, .sech-by-name input{
        max-width: 200px !important;
    }

  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f5f5f5;
    border-bottom-color: rgba(0,0,0,.12);
    border: 1px solid #bbb !important;
    box-shadow: none !important;
  }
  div.mat-expansion-panel-body{
    padding: 0 0 !important;
  }
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
    min-height: 58px !important;
  }
  .mat-expansion-panel{
    border-left-color: #bbb;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #bbb;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #bbb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none !important;
  }

  $mat-header-row-height:56px;
  $mat-row-height: 48px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
  }

  .mat-row {
    min-height: $mat-row-height;
  }

  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    //padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
    padding: 10px 14px !important;

    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }

  .mat-cell, .mat-header-cell {
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    display: flex;
  }
  .mat-expansion-panel .mat-row .mat-content {
    display: block !important;
  }
  .mat-header-cell.n{
    width: 13% !important;
  }
  .mat-header-cell.u{
    display: block !important;
    width: 25% !important;
  }
  .mat-header-cell.a{
    width: 26% !important;
  }
  .mat-header-cell.r{
    display: block !important;
    width: 16%;
  }
  .mat-header-cell.p{
    width: 19%;
    display: block !important;
  }
  .mat-header-cell.s{
    width: 17%;
  }
  .mat-cell.n{
    width: 11%;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 13px;
  }
  .mat-cell.u{
    width: 13%;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 13px;
  }
  .mat-cell.a{
    width: 27%;
    margin-right:37px;
  }
  .mat-cell.r{
    width: 14%;
    margin-right: 35px;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 13px;
  }
  .mat-cell.p{
    display: block !important;
    width: 15%;
    transform: translateY(15%);
  }
  .mat-cell.p img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .mat-cell.s {
    text-align: center;
    margin-top: 8px;
    width: 10%;
  }
  button.edit img, button.login img{
    margin-bottom: 8px;
  }
  .item-content{
    display: none;
  }
  .item-content .content-item{
    display: flex;
  }
  .item-content .content-item .elem{
    width: 45%;
    padding: 10px 10px 10px 10px;
    background: #f6f6f6;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    font-weight: 500;
  }
  .item-content .content-item .val{
    width: 55%;
    padding: 10px 10px 10px 25px;
    background: #00ceff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
  }
  .item-content .content-item .val.time{
    text-align: center;
    padding-right:25px;
  }
  .item-content .content-item .val img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .selected-rec-wide{
    /*display: block !important;*/
    margin-bottom: 10px;
    padding-left: 0 !important;
  }
}

@media(max-width: 767px) and (min-width: 576px){
    .activity-inner{
        height: 120px !important;
        margin-bottom: 30px;
    }
    .added-btns-row ul li{
      width: auto !important;
      margin-right:10px !important;
      margin-bottom: 10px !important;
    }
    .added-btns-row ul li a{
        font-size: 14px;
      padding: 12px 0 !important;
    }
    .exam-filter{
        margin-bottom: 50px;
    }
    .radio-for-studs{
        box-shadow: 0 1px 10px rgba(0,0,0,.2);
        padding: 35px 0;
        margin-left: 0;
    }
    mat-radio-group{
        float: right;
    }
    .radio-btn{
        min-height: 60px !important;
        transform: translateY(25%);
    }
    .selected-buttons{
        text-align: center !important;
    }
    .add-btn{
        text-align: center !important;
        margin-bottom: 30px !important;
    }
    .add-btn button{
        border-radius: 13px;
        padding: 11px;
        font-size: 20px !important;
    }
    .add-btn span{
        font-size: 20px !important;
    }
    .sech-by-name .mat-input-infix input, .sech-by-name input{
        max-width: 400px !important;
    }
    .selected-rec{
        font-size: 15px;
        text-align: center !important;
    }

  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f5f5f5;
    border-bottom-color: rgba(0,0,0,.12);
    border: 1px solid #bbb !important;
    box-shadow: none !important;
  }
  div.mat-expansion-panel-body{
    padding: 0 0 !important;
  }
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
    min-height: 58px !important;
  }
  .mat-expansion-panel{
    border-left-color: #bbb;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #bbb;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #bbb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none !important;
  }

  $mat-header-row-height:56px;
  $mat-row-height: 48px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
  }

  .mat-row {
    min-height: $mat-row-height;
  }

  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    //padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
    padding: 10px 14px !important;

    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }

  .mat-cell, .mat-header-cell {
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    display: flex;
  }
  .mat-expansion-panel .mat-row .mat-content {
    display: block !important;
  }
  .mat-header-cell.n{
    width: 13% !important;
  }
  .mat-header-cell.u{
    display: block !important;
    width: 30% !important;
  }
  .mat-header-cell.a{
    width: 30% !important;
  }
  .mat-header-cell.r{
    display: block !important;
    width: 23%;

  }
  .mat-header-cell.s{
    width: 17%;
  }
  .mat-cell.n{
    width: 13%;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 13px;
  }
  .mat-cell.u{
    width: 15%;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 13px;
  }
  .mat-cell.a{
    width: 34%;
    margin-right:25px;
  }
  .mat-cell.r{
    width: 17%;
    margin-right: 35px;
    display: block !important;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 13px;
  }
  .mat-cell.s {
    text-align: center;
    margin-top: 8px;
    width: 10%;
  }
  button.edit img, button.login img{
    margin-bottom: 8px;
  }
  .item-content{
    display: none;
  }
  .item-content .content-item{
    display: flex;
  }
  .item-content .content-item .elem{
    width: 45%;
    padding: 10px 10px 10px 10px;
    background: #f6f6f6;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    font-weight: 500;
  }
  .item-content .content-item .val{
    width: 55%;
    padding: 10px 10px 10px 25px;
    background: #00ceff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
  }
  .item-content .content-item .val.time{
    text-align: center;
    padding-right:25px;
  }
  .item-content .content-item .val img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  /*.resp-enter*/
}
@media(max-width: 575px) and (min-width: 415px){
    .activity-inner{
        height: 170px !important;
    }
    .added-btns-row ul li{
      width: auto !important;
      margin-bottom: 10px !important;
      margin-right: 10px !important;
    }
    .added-btns-row .left-tabs-nav li a{
      padding: 12px 0 !important;
    }
    .exam-filter{
        margin-bottom: 50px;
    }
    .radio-for-studs{
        box-shadow: 0 1px 10px rgba(0,0,0,.2);
        padding: 35px 0px;
        margin-left: 0px;
    }
    mat-radio-group{
        float: right;
    }
    .selected-buttons{
        text-align: center !important;
    }
    .add-btn{
        text-align: center !important;
        margin-bottom: 30px;
    }
    .radio-btn{
        min-height: 60px !important;
        transform: translateY(25%);
    }
    .add-btn button{
        border-radius: 13px;
        padding: 11px;
        font-size: 20px !important;
    }
    .add-btn span{
        font-size: 20px !important;
    }
    .sech-by-name .mat-input-infix input, .sech-by-name input{
        max-width: 400px !important;
    }
    .radio2{
        margin-left: -25px;
        padding-top: 10px;
    }
    .response{
        display: block !important;
    }
    .selected-rec{
        font-size: 15px !important;
        text-align: left !important;
    }

  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f5f5f5;
    border-bottom-color: rgba(0,0,0,.12);
    border: 1px solid #bbb !important;
    box-shadow: none !important;
  }
  div.mat-expansion-panel-body{
    padding: 0 0 !important;
  }
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
    min-height: 58px !important;
  }
  .mat-expansion-panel{
    border-left-color: #bbb;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #bbb;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #bbb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none !important;
  }

  $mat-header-row-height:56px;
  $mat-row-height: 48px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
  }

  .mat-row {
    min-height: $mat-row-height;
  }

  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
    padding: 10px 14px;

    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }

  .mat-cell, .mat-header-cell {
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    display: flex;
  }
  .mat-expansion-panel .mat-row .mat-content {
    display: block !important;
  }
  .mat-header-cell.n{
    width: 20% !important;
  }
  .mat-header-cell.a{
    width: 60% !important;
  }
  .mat-cell.n{
    width: 20%;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .mat-cell.a{
    width: 65%;
  }
  .mat-cell.s {
    width: 15%;
    text-align: center;
    margin-top: 8px;
  }
  button.edit img, button.login img{
    margin-bottom: 8px;
  }

  .item-content .content-item{
    display: flex;
  }
  .item-content .content-item .elem{
    width: 45%;
    padding: 10px 10px 10px 10px;
    background: #f6f6f6;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    font-weight: 500;
  }
  .item-content .content-item .val{
    width: 55%;
    padding: 10px 10px 10px 25px;
    background: #00ceff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
  }
  .item-content .content-item .val.time{
    text-align: center;
    padding-right:25px;
  }
  .item-content .content-item .val img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
@media(max-width: 414px) and (min-width: 360px){
    .added-btns-row ul li{
      height: 40px !important;
      width: auto !important;
    }
    .exam-filter{
        margin-bottom: 10px;
        padding: 0px;
    }
    .radio-for-studs{
        /*box-shadow: 0 1px 10px rgba(0,0,0,.2);*/
        padding: 35px 0px;
    }
    mat-radio-group{
        float: right;
    }
    .radio-btn{
        min-height: 60px !important;
        transform: translateY(25%);
        padding: 0 0;
    }
    .add-btn{
      padding: 0 0;
      text-align: center;
    }
    .add-btn button{
      border-radius: 11px;
      padding: 0px;
      min-width: 60%;
      max-width: 60%;
      margin-bottom: 20px;
      font-size: 17px !important;
    }
    .add-btn span{
        font-size: 20px !important;
    }
    .search-by-name .mat-input-infix input, .search-by-name input{
        max-width: 400px !important;
        min-height: 40px !important;
    }
    .radio2{
        margin-left: -18px;
        padding-top: 10px;
    }
    .table-information{
        font-size: 11px !important;
    }
    .selected-rec {
        font-size: 13px !important;
        text-align: left;
    }
    .selected-buttons button#btnAct{
        font-size: 10px !important;
        padding: 5px 20px !important;
    }

    .inner-tabs-div .activity-filters{
      padding-left: 0px;
      padding-right: 0px;
  }

    .activity-inner{
      width: 100%;
      min-height: auto;
    }

    div.nav-option span{
      font-size: 16px !important;
    }
    .added-btns-row{
      margin-top: -25px;
    }
    .added-btns-row ul li {
      width: auto !important;
      min-width: 40% !important;
      height: 30px !important;
      max-height: 30px !important;
      margin-right: 10px !important;
      margin-bottom: 10px !important;
    }
    .added-btns-row ul li a{
      padding: 12px 0 !important;
    }
    .left-tabs-nav li {
      margin-bottom: 10px;
    }

    .show-by .sech-by-name{
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
    }

    .sech-by-name input{
      font-weight: 500;
      min-height: 40px !important;
      height: 40px;
      max-width: 100% !important;
    }
    .radio-btn.text-center label.mat-radio-label{
      font-size: 15px;
    }

    .radio2{
      margin-left: -24px;
      padding-top: 10px;
    }

    .selected-buttons{
      padding: 0 0;
    }

    .selected-buttons button#btnAct{
      font-size: 16px !important;
      padding: 0px 20px !important;
      width: 100% !important;
      max-width: 100%;
    }

    .cdk-overlay-pane .mat-menu-panel{
        min-width: 320px !important;
        max-width: 320px !important;
    }


    .mat-paginator-navigation-first .mat-icon-button{
      padding: 0;
      min-width: 0;
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      line-height: 25px;
      border-radius: 26%;
      margin-left: 4px;
    }

    button.mat-icon-button svg.mat-paginator-icon{
      border: solid 1px #ccc;
      padding: 5px;
      border-radius: 5px;
      width: 25px;
    }
    .mat-paginator-page-size .mat-form-field-infix{
      display: block;
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto;
      min-width: 0;
      width: 174px;
      border: solid 1px #9ea3b4;
      padding: 4px 5px !important;
      border-radius: 5px;
    }

    .mat-paginator-page-size-label{
      margin: 0 4px;
      font-size: 12px;
    }
    .add-stud{
      padding: 0 0;
    }

    /*response table style*/
  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f5f5f5;
    border-bottom-color: rgba(0,0,0,.12);
    border: 1px solid #bbb !important;
    box-shadow: none !important;
  }

  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }
  .mat-expansion-panel{
    border-left-color: #bbb;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #bbb;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #bbb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none !important;
  }

  $mat-header-row-height:56px;
  $mat-row-height: 48px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
  }

  .mat-row {
    min-height: $mat-row-height;
  }

  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;

    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }

  .mat-cell, .mat-header-cell {
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
  .mat-expansion-panel .mat-row .mat-content {
    display: block !important;
    overflow: unset !important;
  }
  .mat-header-cell.n, .mat-header-cell.c1{
    width: 55% !important;
  }
  .mat-header-cell.a, .mat-header-cell.c4{
    width: 42% !important;
  }
  .mat-cell.n, .mat-cell.c1{
    width: 30%;
    transform: translateY(25%);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .mat-cell.a, .mat-cell.c4{
    width: 65%;
    text-align: center;
  }
  .mat-cell.s, .mat-cell.c7{
    width: 15%;
    text-align: center;
    margin-top: 8px;
  }
  button.edit img, button.login img{
    margin-bottom: 8px;
  }

  .item-content .content-item{
    display: flex;
  }
  .item-content .content-item .elem{
    width: 45%;
    padding: 10px 10px 10px 10px;
    background: #f6f6f6;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    font-weight: 500;
  }
  .item-content .content-item .val{
    width: 55%;
    padding: 10px 10px 10px 25px;
    background: #00ceff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
  }
  .item-content .content-item .val.time{
    text-align: center;
    padding-right:25px;
  }
  .item-content .content-item .val img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .resp-enter{
    display: none !important;
  }
  button.unarchive{
    width: 86px !important;
    height: 33px !important;
  }
}
