<!-- <article class="main-content">
<ng4-loading-spinner [timeout]="7000"></ng4-loading-spinner>
<div>
    <mat-accordion class="example-headers-align">
        <mat-card class="example-card">
            <div class="row">
                <label>Write-Up Type</label> 
                <div class="col-sm-4">
                    <mat-select class="select-area" placeholder="Write-up Type" name="freestyle" [(ngModel)]="model.selfreestyle" id="freestyle" #freestyle="ngModel" >
                        <mat-option value="-1">All</mat-option> 
                        <mat-option value="{{k.id}}" *ngFor="let k of model.freestyletopics">{{k.description}}</mat-option>
                    </mat-select>
                </div>
                <label>Status</label> 
                <div class="col-sm-4">
                    <mat-select class="select-area" placeholder="Status" name="status" [(ngModel)]="model.status" id="status" #status="ngModel" >
                        <mat-option value="ALL">All</mat-option>
                        <mat-option value="STU">Assigned To Student</mat-option>
                        <mat-option value="PEN">Review Pending</mat-option>
                        <mat-option value="COM">Review Completed</mat-option>
                    </mat-select>
                </div>
                <div class="col-sm-4">
                    <button mat-raised-button class="btn btn-primary btn-active table-information" (click)="fetchEvaluationStatuses()"
                        id="btnAdd">Search</button>
                </div>
            </div>
        </mat-card>
        <mat-card class="example-card">
            <mat-table #table class="table-section" [dataSource]="dataSource">
                <ng-container matColumnDef="studentName">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Student Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> {{element.studentName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="writeupType">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Write-up Type </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> {{element.writeupType}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="topicName">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Write-up Topic </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> {{element.topicName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="assignedDate">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Assigned On </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> {{element.assignedDate}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="freeStyleTestId">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Writeup Id </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> {{element.freeStyleTestId}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="assignmentUrl">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Download Assignment </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> 
                        <i class="material-icons" *ngIf="element.assignmentUrl">
                            <a href="{{element.assignmentUrl}}" target="_blank">get_app</a>
                        </i>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="uploadedOn">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Assignment Uploaded On </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> {{element.uploadedOn}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Status </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> {{element.status}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="reviewedOn">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Reviewed On </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> {{element.reviewedOn}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="responseUrl">
                    <mat-header-cell *matHeaderCellDef class="table-header"> Upload/Download Review </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-information"> 
                        <i class="material-icons" *ngIf="element.responseUrl">
                            <a href="{{element.responseUrl}}" target="_blank">get_app</a>
                        </i>
                        <i class="material-icons" *ngIf="element.assignmentUrl && !element.responseUrl">
                            <button mat-raised-button class="btn btn-primary btn-active btn-activity" (click)="upload(element)"
                                id="btnAction">Upload</button>
                        </i>
                    </mat-cell>
                </ng-container>
                <mat-header-row style="background:#f5f5f5" *matHeaderRowDef="displayedColumns">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </mat-card>
    </mat-accordion>
</div>
</article> -->

<div id="write-up-exam-list" class="parent-contents">
	<ng4-loading-spinner [timeout]="7000"></ng4-loading-spinner>
	<div class="inner-tabs-div col-sm-12">
		<div class="activity-filters col-sm-12">
			<div class="col-sm-12 show-by text-center exam-filter">
				<div class="write-up-fltr col-sm-12 row">
					<div class="col-sm-12" style="padding: 0 !important;">
						<div class="col-xl-4 col-lg-3  col-md-3 col-sm-12  sech-by-name">
						   
							<label >Write-Up Type:</label>
							<mat-select class="select-area" placeholder="Select"
								name="freestyle" [(ngModel)]="model.selfreestyle" id="freestyle"
								#freestyle="ngModel"> <mat-option
								value="-1">All</mat-option> <mat-option value="{{k.id}}"
								*ngFor="let k of model.freestyletopics">{{k.description}}</mat-option>
							</mat-select>
						</div>
							
						<div class="col-xl-4 col-lg-3  col-md-3 col-sm-12  sech-by-name">
						
                            <label style="margin-left:70px">Status:</label> 
                		    <mat-select class="select-area" placeholder="Select" name="status" [(ngModel)]="model.status" id="status" #status="ngModel" >
                 		       <mat-option value="ALL">All</mat-option>
                  		      <mat-option value="STU">Assigned To Student</mat-option>
                   			  <mat-option value="PEN">Review Pending</mat-option>
                     		   <mat-option value="COM">Review Completed</mat-option>
                   		   </mat-select>
                
						</div>
						<div class="col-xl-4 col-lg-9 col-md-9 col-sm-12 radio-btn text-right">
							<button mat-raised-button
								class="btn btn-primary btn-active"
								(click)="fetchEvaluationStatuses()" id="btnSearch"><i class="fa fa-search"></i> Search</button>
						</div>
					</div>
				
				</div>
			</div>
			
			<div class="col-sm-12 action-part">
				
					<div class="col-sm-4 selected-rec-wide text-left w-rec" style="margin-top:25px">
						{{noOfRows}} Records found
					 </div>
					 <div class="col-sm-8 selected-rec-wide text-right w-rec" style="margin-top:-35px">
					
				  </div>
			 </div>
			 
             <div class="stud-list">
                 <mat-accordion displayMode="flat" multi class="example-headers-align exam-data-all">
                    <section matSort class="mat-header-row">
                      <span class="mat-header-cell t" mat-sort-header="name" >STUDENT NAME</span>
                      <span class="mat-header-cell t" mat-sort-header="type" >WRITE-UP TYPE</span>
                      <span class="mat-header-cell t" mat-sort-header="topic" >WRITE-UP TOPIC</span>
                      <span class="mat-header-cell t" mat-sort-header="assgnedOn" >ASSIGNED ON</span>
                      <!-- <span class="mat-header-cell t" mat-sort-header="type" >WRITE-UP ID</span> -->
                      <span class="mat-header-cell t" mat-sort-header="download" >DOWNLOAD ASSIGNMENT</span>
                      <span class="mat-header-cell t" mat-sort-header="upload" >ASSIGNMENT UPLOADED ON</span>
                      <span class="mat-header-cell t" mat-sort-header="status" >STATUS</span>
                      <span class="mat-header-cell t" mat-sort-header="reviewedOn" >REVIEWED ON</span>
                      <span class="mat-header-cell t" mat-sort-header="review" >UPLOAD/DOWNLOAD REVIEW</span>
                      
                    </section>
                    <mat-expansion-panel *ngFor="let item of displayedRows$ | async"  >
                      <mat-expansion-panel-header class="mat-row">
                       <span class="mat-cell t" >{{item.studentName}}</span>
                        <span class="mat-cell t" >{{item.writeupType}}</span>
                        <span class="mat-cell t" >{{item.topicName}}</span>
                        <span class="mat-cell t" >{{item.assignedDate | date:'dd/MM/yyyy'}}</span>
                        <span class="mat-cell t" ><i class="material-icons" *ngIf="item.assignmentUrl">
                            <a href="{{item.assignmentUrl}}" target="_blank">get_app</a>
                        </i></span>
                        <span class="mat-cell t" >{{item.uploadedOn | date:'dd/MM/yyyy' }}</span>
                        <span class="mat-cell t" >{{item.status}}</span>
                        <span class="mat-cell t" >{{item.reviewedOn | date:'dd/MM/yyyy' }}</span>
                        <span class="mat-cell t" ><i class="material-icons" *ngIf="item.responseUrl">
                            <a href="{{item.responseUrl}}" target="_blank">get_app</a>
                        </i>
                        <i class="material-icons" *ngIf="item.assignmentUrl && !item.responseUrl">
                            <button mat-raised-button class="btn btn-primary btn-active btn-activity" (click)="upload(item)"
                                id="btnAction">Upload</button>
                        </i></span>
                      </mat-expansion-panel-header>
                     </mat-expansion-panel>
                   </mat-accordion>
                   <mat-paginator #paginator
                    [length]="totalRows$ | async"
                    [pageIndex]="0"
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 20]"
                    [showFirstLastButtons]="true"
                  ></mat-paginator>
             </div>
		</div>
	</div>